
$primary-color: #0043C4;
$primary-hover-color: #1956CA;
$primary-active-color: #0037A1;
$text-on-primary-color: #FFFFFF;

$default-color: #F5F5F5;
$text-color: #000000;
$subtitle-color: #999999;

$positive-color: #219653;
$negative-color: #EB5757;

$large-numbers-color: #4F4F4F;
$large-numbers-label-color: #BDBDBD;


